# Ignorer le dossier test
test/


# Ignorer les fichiers compilés (exécutables)
a.out
*.o
*.out
*.exe

# Ignorer tous les fichiers sans extension (considérés comme exécutables)
[^.]*



# Autoriser les fichiers source et README
!*.c
!*.h
!README.md
# Ignorer uniquement la fonction print (non autorisée dans le repo)
binary_tree_print.c

# Ne pas ignorer les dossiers (pour permettre le suivi des fichiers dans les dossiers)
!*/
