# Fichiers objets (résultats de la compilation)
*.o

# Fichiers exécutables
*.out
a.out

# Sauvegardes d'éditeurs
*~
*.swp
*.swo
*.bak

# Dossiers spécifiques aux éditeurs
.vscode/
.idea/

# Fichier de compilation généré par make
Makefile

# Fichiers de test ou temporaires
test
*.tmp

# core dumps (erreurs système)
core
shell
